<IfModule mod_rewrite.c>
    RewriteEngine On

    # Agar URL already /public se start nahi hota
    RewriteCond %{REQUEST_URI} !^/public/
    # To sab kuch /public/ ke andar forward karo
    RewriteRule ^(.*)$ public/$1 [L,QSA]
</IfModule>